@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-coal: 15 13 14;
		--color-gold: 252 186 40;
		--color-beige: 249 244 218;
		--color-charcoal: 35 31 32;
		--color-plant: 11 169 91;
		--color-rose: 237 32 61;
		--color-turquoise: 18 181 229;
		--color-white: 255 255 255;
	}

	body {
		background-color: rgb(var(--color-coal));
		background-image: repeating-linear-gradient(
				to right,
				rgb(var(--color-charcoal)),
				rgb(var(--color-charcoal)) 1px,
				transparent 1px,
				transparent 30px
			),
			repeating-linear-gradient(
				to bottom,
				rgb(var(--color-charcoal)),
				rgb(var(--color-charcoal)) 1px,
				transparent 1px,
				transparent 30px
			);
	}
}
